/* Abstracts - variables, functions, mixins, placeholders, etc */
/* layout - navigation, grid, header, footer, sidebar, forms, etc */
.main-nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  background: #fff;
  right: -17px;
  top: 0;
  padding: 50px 130px;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto; }

.main-header {
  display: flex;
  height: 268px;
  position: relative;
  z-index: 2; }
  .main-header .navbar {
    flex: 1; }
  .main-header.small-header {
    background: #ffb41b url("../images/smallheaderbg.jpg") no-repeat;
    background-size: cover; }

.banner-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 268px); }

.navbar-light .navbar-nav .active .nav-link {
  color: #ab5410; }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #ab5410; }
.navbar-light .navbar-nav .primary-link {
  color: #404040; }
.navbar-light .navbar-nav .secondary-link {
  color: #848484; }

.navbar-nav .nav-link {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700; }

.sticky-nav {
  margin: auto 0 40px 0;
  position: relative; }
  .sticky-nav li {
    flex-basis: 16.666%; }
    .sticky-nav li:first-child a {
      padding-left: 0;
      margin-left: 0; }
    .sticky-nav li.active a {
      border-bottom: 4px solid #ab5410; }
  .sticky-nav a {
    color: #071201;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 0 10px;
    display: inline-block;
    transition: all 0.2s Ease-in-out; }
    .sticky-nav a:hover {
      /* margin-top: 14px;*/
      border-bottom: 4px solid #ab5410;
      transform: scale(1.1); }

.close-btn {
  background-color: #eeeeee;
  border-radius: 50%;
  height: 38px;
  width: 38px; }

footer .main-footer {
  background-color: #000000;
  padding: 65px 0; }
footer .copyright-container {
  background-color: #262626; }
  footer .copyright-container .info {
    color: #848484;
    display: flex;
    font-size: 12px;
    line-height: 1;
    justify-content: flex-end;
    padding: 17px 0; }
footer .inspire-logo {
  max-width: 160px; }
footer address,
footer .nav-link,
footer .navbar-nav .nav-link {
  color: #848484;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2; }
footer .contact-info .inspire-logo,
footer .contact-info address,
footer .contact-info .nav-link,
footer .contact-info .navbar-nav .nav-link {
  margin: 0 0 10px 0; }
  footer .contact-info .inspire-logo:last-child,
  footer .contact-info address:last-child,
  footer .contact-info .nav-link:last-child,
  footer .contact-info .navbar-nav .nav-link:last-child {
    margin: 0; }
footer .nav2 {
  align-items: flex-end;
  display: flex; }
footer .navbar-nav .nav-link {
  padding: 0 0 10px 0;
  transition: all 0.3s ease; }
  footer .navbar-nav .nav-link:hover {
    color: #ffffff; }
footer .navbar-nav .nav-item:last-child .nav-link {
  padding: 0; }
footer .nav-link {
  padding: 0;
  transition: all 0.3s ease; }
  footer .nav-link:hover {
    color: #ffffff; }
footer h5 {
  color: #ffffff;
  font-weight: 400; }
footer .sc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
footer .social-with-us .heading {
  color: #ffffff; }
footer .sc-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  footer .sc-icons li {
    border-radius: 50%;
    height: 20px;
    margin: 0 15px 0 0;
    min-width: 20px;
    width: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

/* Home Page CSS */
.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

.menu-icon {
  height: 25px;
  transition: all 0.3s ease; }
  .menu-icon:hover .menu-icon-shape {
    fill: #000000; }

.menu-icon-shape {
  fill: #ffffff;
  transition: all 0.3s ease; }

.home-page .menu-icon {
  height: 25px;
  transition: all 0.3s ease; }
  .home-page .menu-icon:hover .menu-icon-shape {
    fill: #ffffff; }
.home-page .menu-icon-shape {
  fill: #000000;
  transition: all 0.3s ease; }

.home-banner {
  background-color: #ffb41b;
  min-height: 100vh;
  overflow: hidden;
  position: relative; }
  .home-banner .particles-layer,
  .home-banner .background-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }
  .home-banner .background-overlay {
    background: linear-gradient(45deg, #ffb41b 45%, rgba(0, 0, 0, 0) 65%, #ffb41b 85%);
    pointer-events: none; }
  .home-banner h1 {
    font-size: 45px;
    line-height: 54px;
    pointer-events: none; }
  .home-banner .about-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px; }
  .home-banner p {
    margin: 0 0 18px 0;
    pointer-events: none; }
  .home-banner .emphasis {
    font-weight: 400; }

.white-section, .gray-section {
  padding: 140px 0;
  /* .tempImage {
     background-color: black;
     height: 450px;
  }*/ }
  .white-section .title, .gray-section .title {
    font-size: 38px;
    line-height: 48px;
    margin: -10px 0 15px 0; }
  .white-section .sub-title, .gray-section .sub-title {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 15px 0; }
  .white-section .slogan, .gray-section .slogan {
    color: #ab5410;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin: 0 0 15px 0; }
  .white-section .description, .gray-section .description {
    font-size: 15px;
    line-height: 20px; }
  .white-section .features-list, .gray-section .features-list {
    flex-wrap: wrap; }
    .white-section .features-list.columns3 .list-group-item, .gray-section .features-list.columns3 .list-group-item {
      flex-basis: 31%; }
    .white-section .features-list.columns4 .list-group-item, .gray-section .features-list.columns4 .list-group-item {
      flex-basis: 25%; }
    .white-section .features-list .list-group-item, .gray-section .features-list .list-group-item {
      background: transparent;
      border: none;
      display: flex;
      flex-basis: 31%;
      line-height: 1.2;
      margin: 15px 0 0;
      padding: 0; }
      .white-section .features-list .list-group-item .icon, .gray-section .features-list .list-group-item .icon {
        border-radius: 50%;
        margin: 0 15px 0 0;
        height: 24px;
        min-width: 24px;
        padding: 5px 0 0 0;
        width: 24px; }
      .white-section .features-list .list-group-item .text, .gray-section .features-list .list-group-item .text {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 0 0 0; }
  .white-section .get-results-link, .gray-section .get-results-link {
    align-items: center;
    color: #ab5410;
    display: flex;
    justify-content: flex-end; }
    .white-section .get-results-link .link-text, .gray-section .get-results-link .link-text {
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      width: 100px; }
    .white-section .get-results-link .arrow-icon, .gray-section .get-results-link .arrow-icon {
      align-items: center;
      display: flex;
      font-size: 44px;
      height: 30px;
      width: 30px; }

.gray-section {
  background-color: #f0f0f0; }

.design-approach-section {
  padding: 100px 0; }
  .design-approach-section .sub-title {
    font-size: 20px; }
  .design-approach-section .da-icon {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.33) 59%, rgba(192, 192, 192, 0.49) 69%, silver 100%);
    border-radius: 50%;
    height: 200px;
    margin: 15px auto 0;
    padding: 50px;
    width: 200px; }
    .design-approach-section .da-icon img {
      display: block;
      margin: 0 auto;
      max-height: 100%; }
  .design-approach-section .da-title {
    font-size: 26px;
    font-weight: 500; }
  .design-approach-section .da-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px; }

.we-inspire-section {
  background-color: #ffb41b;
  padding: 60px 0; }
  .we-inspire-section .description {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin: 15px 0 0 0; }
  .we-inspire-section .wi-number {
    color: #ab5410;
    font-size: 70px;
    font-weight: 500;
    line-height: 0.8;
    margin: 40px 0 0 0; }
  .we-inspire-section .wi-caption {
    font-size: 24px;
    font-weight: 300;
    line-height: 35px; }
  .we-inspire-section .know-more-btn {
    border-radius: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    margin: 40px 0 0 0; }

.portfolio .portfolio-header {
  font-size: 38px;
  font-weight: 700; }
.portfolio .nav-pills .nav-link {
  border: 1px solid transparent;
  border-radius: 50px;
  color: #010101;
  font-size: 16px;
  height: 100%;
  transition: all 0.3s ease; }
.portfolio .nav-pills .nav-link.active {
  color: #ab5410;
  background: transparent;
  border: 1px solid #ab5410; }

.grid-container {
  min-height: 500px; }
  .grid-container .portfolio-image-grid.tab-1 {
    grid-template-areas: 'item1 item2 item3 item4' 'item5 item6 item7 item8' 'item9 item10 item11 item12'; }
  .grid-container .portfolio-image-grid.tab-2 {
    grid-template-areas: 'item1 item2 item3 item3' 'item4 item5 item6 item7' 'item4 item8 item9 item10'; }
  .grid-container .portfolio-image-grid.tab-3 {
    grid-template-areas: 'item1 item2 item3 item4' 'item1 item5 item5 item6' 'item7 item8 item9 item9'; }
  .grid-container .portfolio-image-grid.tab-4 {
    grid-template-areas: 'item1 item2 item3 item4' 'item5 item5 item6 item4' 'item7 item8 item8 item8'; }
  .grid-container .portfolio-image-grid.tab-5 {
    grid-template-areas: 'item1 item2 item3 item4' 'item5 item5 item6 item7' 'item8 item9 item9 item7'; }
  .grid-container .portfolio-image-grid.tab-6 {
    grid-template-areas: 'item1 item1 item2 item3' 'item4 item5 item6 item6' 'item4 item7 item8 item9'; }
  .grid-container .portfolio-image-grid {
    display: grid;
    grid-gap: 5px; }
    .grid-container .portfolio-image-grid p {
      color: #010101;
      font-size: 18px; }
    .grid-container .portfolio-image-grid .grid-item {
      text-align: center;
      overflow: hidden; }
      .grid-container .portfolio-image-grid .grid-item img {
        width: 100%;
        height: 100%; }
    .grid-container .portfolio-image-grid .item-1 {
      grid-area: item1; }
    .grid-container .portfolio-image-grid .item-2 {
      grid-area: item2; }
    .grid-container .portfolio-image-grid .item-3 {
      grid-area: item3; }
    .grid-container .portfolio-image-grid .item-4 {
      grid-area: item4; }
    .grid-container .portfolio-image-grid .item-5 {
      grid-area: item5; }
    .grid-container .portfolio-image-grid .item-6 {
      grid-area: item6; }
    .grid-container .portfolio-image-grid .item-7 {
      grid-area: item7; }
    .grid-container .portfolio-image-grid .item-8 {
      grid-area: item8; }
    .grid-container .portfolio-image-grid .item-9 {
      grid-area: item9; }

.testimonials {
  background: #FFC001; }
  .testimonials .testimonials-header {
    font-size: 38px;
    font-weight: 700;
    position: relative; }
    .testimonials .testimonials-header img {
      position: absolute;
      left: 0;
      top: 0; }
  .testimonials #testimonials-carousel {
    font-size: 14px; }
    .testimonials #testimonials-carousel img {
      width: 100%;
      padding-top: 8px; }
    .testimonials #testimonials-carousel .carousel-indicators {
      left: initial;
      margin: 0; }
      .testimonials #testimonials-carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 2px solid black;
        border-radius: 100%; }

.contact-form-header {
  font-size: 38px; }

.careers input {
  width: 100%; }

.we-inspire-title {
  color: #ab5410;
  font-size: 30px;
  font-weight: 500;
  text-align: center; }

.points-container {
  display: flex;
  justify-content: center;
  position: relative; }
  .points-container .center-logo {
    background: transparent url("../images/infrastructure-center-logo.png") no-repeat;
    background-position: center;
    background-size: 163px;
    height: 165px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 165px; }

.infrastructure-points-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 440px; }
  .infrastructure-points-list .list-item {
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 215px;
    justify-content: center;
    margin: 0 0 10px 0;
    width: 215px; }
    .infrastructure-points-list .list-item.design-studio-item {
      background-color: #80ba66;
      background-image: -webkit-linear-gradient(-128deg, #80ba66, #2fa7b2 60%, #099ed5 88%);
      background-image: -moz-linear-gradient(-128deg, #80ba66, #2fa7b2 60%, #099ed5 88%);
      background-image: -o-linear-gradient(-128deg, #80ba66, #2fa7b2 60%, #099ed5 88%);
      background-image: -ms-linear-gradient(-128deg, #80ba66, #2fa7b2 60%, #099ed5 88%);
      background-image: linear-gradient(-128deg, #80ba66, #2fa7b2 60%, #099ed5 88%); }
    .infrastructure-points-list .list-item.design-tools-item {
      background-color: #fbbc12;
      background-image: -webkit-linear-gradient(-128deg, #fbbc12, #fe9306 60%, #ff8000 88%);
      background-image: -moz-linear-gradient(-128deg, #fbbc12, #fe9306 60%, #ff8000 88%);
      background-image: -o-linear-gradient(-128deg, #fbbc12, #fe9306 60%, #ff8000 88%);
      background-image: -ms-linear-gradient(-128deg, #fbbc12, #fe9306 60%, #ff8000 88%);
      background-image: linear-gradient(-128deg, #fbbc12, #fe9306 60%, #ff8000 88%); }
    .infrastructure-points-list .list-item.crosslink-item {
      background-color: #e95738;
      background-image: -webkit-linear-gradient(-128deg, #e95738, #d3315d 60%, #c91f6e 88%);
      background-image: -moz-linear-gradient(-128deg, #e95738, #d3315d 60%, #c91f6e 88%);
      background-image: -o-linear-gradient(-128deg, #e95738, #d3315d 60%, #c91f6e 88%);
      background-image: -ms-linear-gradient(-128deg, #e95738, #d3315d 60%, #c91f6e 88%);
      background-image: linear-gradient(-128deg, #e95738, #d3315d 60%, #c91f6e 88%); }
    .infrastructure-points-list .list-item.pan-india-item {
      background-color: #009cdf;
      background-image: -webkit-linear-gradient(-128deg, #009cdf, #006eba 60%, #0059a9 88%);
      background-image: -moz-linear-gradient(-128deg, #009cdf, #006eba 60%, #0059a9 88%);
      background-image: -o-linear-gradient(-128deg, #009cdf, #006eba 60%, #0059a9 88%);
      background-image: -ms-linear-gradient(-128deg, #009cdf, #006eba 60%, #0059a9 88%);
      background-image: linear-gradient(-128deg, #009cdf, #006eba 60%, #0059a9 88%); }
    .infrastructure-points-list .list-item .item-icon {
      background: transparent url("../images/design-studio.png") no-repeat;
      background-position: center;
      background-size: 69px;
      height: 70px;
      width: 128px; }
    .infrastructure-points-list .list-item .item-text {
      color: #ffffff;
      font-size: 17px;
      line-height: 20px;
      margin: 10px 0 0 0;
      text-align: center; }

.team-inspire-container {
  background-image: -webkit-linear-gradient(-128deg, #fd9707, #fbba11 60%, #fbbc12 64%, #d4335b);
  background-image: -moz-linear-gradient(-128deg, #fd9707, #fbba11 60%, #fbbc12 64%, #d4335b);
  background-image: -o-linear-gradient(-128deg, #fd9707, #fbba11 60%, #fbbc12 64%, #d4335b);
  background-image: -ms-linear-gradient(-128deg, #fd9707, #fbba11 60%, #fbbc12 64%, #d4335b);
  background-image: linear-gradient(-128deg, #fd9707, #fbba11 60%, #fbbc12 64%, #d4335b);
  height: 440px;
  margin: 0 auto;
  position: relative;
  width: 480px; }
  .team-inspire-container .image-mask {
    background: transparent url("../images/team-inspire-mask.png") no-repeat;
    background-size: 100%;
    border: 0px solid #fff;
    height: 442px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 482px;
    z-index: 10; }
  .team-inspire-container .round-container {
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 162px;
    justify-content: center;
    position: absolute;
    width: 162px;
    z-index: 20; }
    .team-inspire-container .round-container.member-count {
      left: calc(50% + 1px);
      top: 12px;
      transform: translateX(-50%); }
    .team-inspire-container .round-container.specialized-expertise {
      left: 12px;
      bottom: 12px; }
    .team-inspire-container .round-container.experience-in-years {
      right: 12px;
      bottom: 12px; }
    .team-inspire-container .round-container .item-icon {
      background: transparent url("../images/svg/badge.svg") no-repeat;
      background-position: center;
      background-size: 45px;
      height: 45px;
      width: 45px; }
    .team-inspire-container .round-container .item-text {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 10px 0;
      text-align: center; }

.our-team-section h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 21px; }
.our-team-section .team-grid {
  display: flex;
  flex-wrap: wrap; }
  .our-team-section .team-grid .team-member {
    background-color: #d3d3d3;
    cursor: pointer;
    height: 255px;
    margin: 22px 22px 0 0;
    position: relative;
    width: 255px; }
    .our-team-section .team-grid .team-member:hover .overlay-effect {
      opacity: 1; }
  .our-team-section .team-grid .team-info {
    background-color: #ffab00;
    flex: 1;
    height: 255px;
    margin: 22px 22px 0 0;
    padding: 25px 30px; }
  .our-team-section .team-grid .overlay-effect {
    justify-content: flex-end;
    background-color: rgba(171, 84, 16, 0.8);
    bottom: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 25px 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease; }
  .our-team-section .team-grid .member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 0 5px 0; }
  .our-team-section .team-grid .member-designation {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 15px 0; }
  .our-team-section .team-grid .member-location {
    font-size: 16px;
    font-weight: 300;
    line-height: 1; }
  .our-team-section .team-grid .member-info {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px; }

.blog-container {
  cursor: pointer;
  margin: 50px 0 0;
  padding: 0 40px; }
  .blog-container a {
    color: #071201; }
  .blog-container:hover a {
    text-decoration: none; }
  .blog-container:hover .blog-info {
    opacity: 0.8; }
  .blog-container:hover .blog-image {
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.5); }

.blog-image {
  transition: all 0.3s ease; }

.blogs-list {
  list-style: none; }

.blog-title {
  font-size: 30px;
  font-weight: 900;
  margin: 10px 0; }

.blog-info {
  padding: 0 15px;
  transition: all 0.3s ease; }

.blog-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; }

.blog-author {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0; }
  .blog-author .author-name {
    font-weight: 400; }

.blog-date {
  color: #848484;
  font-size: 12px;
  font-weight: 300; }

.title-container {
  position: relative; }
  .title-container .back-btn {
    position: absolute;
    right: 0;
    top: 0; }

svg .back-btn-shape {
  transition: all 0.3s ease; }
svg:hover .back-btn-shape {
  fill: #848484; }

.blog-heading {
  display: flex; }
  .blog-heading .blog-info {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 40%; }
    .blog-heading .blog-info .blog-title {
      font-size: 62px;
      line-height: 1; }
    .blog-heading .blog-info .blog-author {
      font-size: 30px;
      line-height: 1; }
  .blog-heading .blog-image {
    overflow: hidden;
    height: 315px;
    width: 60%; }
    .blog-heading .blog-image img {
      width: 100%; }

.blog-description p {
  font-size: 18px;
  line-height: 24px;
  text-align: justify; }

body {
  font-family: 'Roboto', sans-serif; }

.form-btn {
  background: #ab5410;
  color: white;
  outline: none;
  border: none;
  font-weight: 300;
  padding: 4px 30px; }

form {
  font-size: 16px;
  padding: 40px;
  box-shadow: 5px 5px 15px 4px lightgrey; }
  form .form-control {
    border-radius: 0; }
  form label {
    margin-left: 4px; }
  form label.error {
    color: tomato;
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 0; }

#cboxLoadedContent {
  padding: 50px; }

/*# sourceMappingURL=style.css.map */
